<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Take Book Welcomes you!!!!!</p>
    <p>You can also use our Takebook Linebot.</p>
  </body>
</html>
